In [1]:
import numpy as np
import pandas as pd

In [2]:
5*5

25

In [3]:
checkins = pd.read_csv('./gowalla/gowalla_checkins.csv')

In [4]:
checkins.head()

   userid  placeid              datetime
0    1338   482954  2011-06-23T02:24:22Z
1    1338   580963  2011-06-22T14:23:03Z
2    1338   365256  2011-06-09T23:29:30Z
3    1338    89504  2011-05-22T15:54:30Z
4    1338  1267135  2011-05-21T16:51:13Z

In [7]:
friendship=pd.read_csv('./gowalla/gowalla_friendship.csv')

In [8]:
friendship.head()

   userid1  userid2
0        1    63488
1        1        2
2        1        3
3        1        4
4        1        5

In [9]:
friendship.shape

(4418339, 2)

In [10]:
8*7

56

In [8]:
spots=pd.read_csv('./gowalla/gowalla_spots_subset1.csv')

In [2]:
spots.head()

NameError: name 'spots' is not defined

In [11]:
user_info=pd.read_csv('./gowalla/gowalla_userinfo.csv')

In [12]:
user_info.head()

,id,bookmarked_spots_count,challenge_pin_count,country_pin_count,highlights_count,items_count,photos_count,pins_count,province_pin_count,region_pin_count,state_pin_count,trips_count,friends_count,stamps_count,checkin_num,places_num
0,1,26,59,1,29,18,135,85,0,13,12,2,372,757,1766,756
1,2,36,79,12,117,29,1069,138,0,31,19,7,775,1227,2892,1220
2,3,11,70,1,42,49,149,93,0,7,6,2,100,905,3021,905
3,4,7,51,1,13,29,138,80,0,13,12,1,179,608,1325,613
4,5,34,82,5,62,36,1012,134,0,19,14,2,525,1124,3215,1124

In [13]:
user_info.columns

Index(['id', 'bookmarked_spots_count', 'challenge_pin_count',
       'country_pin_count', 'highlights_count', 'items_count', 'photos_count',
       'pins_count', 'province_pin_count', 'region_pin_count',
       'state_pin_count', 'trips_count', 'friends_count', 'stamps_count',
       'checkin_num', 'places_num'],
      dtype='object')

In [15]:
user_info.shape

(407533, 16)